---
layout: base.hbs
title: Home
lang: en
tags:
  - about
  - index
---

<section class="prose-xl">
  <h2>About me</h2>
  <p>
    Hey there, I am Elena F. I am a Full-Stack Softwaredeveloper from Germany (born and raised).
  </p>
</section>